.header {
    background: $color-3;
    position: relative;

    .navbar {
        padding: 0;
        display: flex;
        align-items: center;
    }
}

.logo {
    height: 50px;

    @include media-breakpoint-down(md) {
        height: 36px;
    }
}

.search {
    position: relative;
    z-index: 10;
    width: auto;
    transition: right 0.2s ease-in-out;

    @include media-breakpoint-down(md) {
        width: 0px;
        right: -0.5rem;
    }

    .form-control {
        transition: background-color 0.5s, opacity 0.5s, width 0.5s;
        background-color: transparent;
        width: 40px;
        height: 40px;
        background-color: $color-3-ascent;
        padding-right: 0;
        padding-left: 0;
        right: 0;
        position: absolute;
        border: none;
        color: transparent;
        box-shadow: 0 0 0 0px rgba($color-3, 0.5);

        &::selection {
            background-color: transparent;
        }

        &::placeholder {
            color: transparent;
        }
    }

    .btn {
        transition: color 0.5s;
        position: absolute;
        right: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        color: $white;
        font-size: 18px;

        &:focus {
            color: $color-1;
            box-shadow: none;
        }
    }

    &.show {
        @include media-breakpoint-down(md) {
            right: 0;
        }

        .form-control {
            width: 330px;
            padding-right: 40px;
            padding-left: 20px;
            opacity: 1;
            color: $gray-300;

            &::selection {
                background-color: #328FFE;
            }

            &::placeholder {
                color: $gray-500;
            }
        }

        .btn {
            color: $color-1;
            right: 0;
        }
    }
}

@mixin nav-link-line {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 4px;
    width: 20px;
    background-color: $color-1;
    border-radius: 1000px;
}

.navbar-menu {
    padding: 0 1rem;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;

    .navbar-toggler {
        background-color: $color-1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 45px;
        height: 45px;
        border-radius: 1000px;
        color: $white;

        #icon-open-menu, #icon-close-menu {
            display: none;
        }

        &:focus {
            outline: none;
        }
    }

    .nav-item {
        &.active {
            .nav-link {
                color: $color-1;
                &:before {
                    @include nav-link-line;
                }
            }
        }

        /* &.show {
            background-color: $white;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: 0 0 0 3px rgba(darken($color-1, 20%), 0.25);

            .nav-link {
                background-color: inherit;
                border-color: transparent !important;
                border-bottom-color: $white !important;

                &:hover {
                    border-color: inherit;
                    background-color: inherit;
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                }
            }
        } */

        .nav-link {
            font-weight: bold;
            color: $white;
            transition: $transition-href;
            text-transform: uppercase;
            font-size: 13.5px;
            padding: 0.5rem 1.5rem;
            border-radius: inherit;
            position: relative;
            z-index: $zindex-dropdown + 1;

            &:before {
                @include nav-link-line;
                background-color: transparent;
                transition: all .5s;
            }

            &:hover {
                color: $color-1;
                &:before {
                    @include nav-link-line;
                }
            }

            &.dropdown-toggle {
                &:after {
                    font-family: "LineIcons";
                    content: "\ea58";
                    font-size: 8px;
                    border: none;
                    vertical-align: 0.09rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }

    .dropdown-menu {
        border: none;
        border: 1px solid $white;
        opacity: 0;
        transition: opacity 0.15s, top 0.15s, z-index 0.2s;
        display: block;
        top: 45%;
        z-index: $zindex-dropdown;
        pointer-events: none;
        margin: 0;
        overflow: hidden;
        border-radius: $border-radius-sm;
        border-top-left-radius: 0;
        box-shadow: 0 0 0 3px rgba(darken($color-1, 20%), 0.25);

        &.show {
            top: 98.3333%;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }
}

.nav-social {
    [class*="whatsapp"] {
        color: $whatsapp-color;
    }

    [class*="facebook"] {
        color: $facebook-color;
    }

    [class*="instagram"] {
        color: $instagram-color;
    }

    [class*="twitter"] {
        color: $twitter-color;
    }

    [class*="youtube"] {
        color: $youtube-color;
    }

    .nav-link {
        transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
        &:hover {
            opacity: 0.7;
            color: darken($link-color-default, 10%);
        }
    }

    &.nav-social-header {
        font-size: 14px;
        [class*="lni"] {
            font-size: 22px;
        }
    }
}

.dropdown-social {
    .btn {
        font-size: 20px;
        margin-right: -#{($spacer / 2) + 0.5rem};
        box-shadow: none !important;

        &:focus {
            color: $color-1;
        }
    }

    &.show {
        .btn {
            color: $color-1;
        }
    }

    .dropdown-menu {
        transform: none !important;
        top: 100% !important;
        right: 0 !important;
        left: unset !important;

        &:before,
        &:after {
            position: absolute;
            right: 8px;
            display: inline-block;
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $white;
        }

        &:before {
            top: -8px;
            z-index: 1;
        }

        &:after {
            z-index: 0;
            top: -10px;
            border-bottom-color: $border-color;
        }

        .nav-social {
            width: max-content;
        }
    }
}
